.login{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1794455602,3389966975&fm=15&gp=0.jpg);
  background-size:100% 100%;
  .login-card{
    width: 350px;
    height: 320px;
    position: absolute;
    right: 50px;
    top: 20%;

  }
}